task_002_wordcount-python/output.txt
task_002_wordcount-python/shakespeare.txt
.vscode/settings.json
output.txt
task_003_hadoop-wordcount/my-app/pom.xml
task_003_hadoop-wordcount/my-app/src/main/java/com/mycompany/app/App.java
task_003_hadoop-wordcount/my-app/target/app-1.0-SNAPSHOT.jar

*.class
task_003_hadoop-wordcount/my-app/target/dependency/hamcrest-core-1.3.jar
task_003_hadoop-wordcount/my-app/target/dependency/junit-4.11.jar
task_003_hadoop-wordcount/my-app/target/maven-archiver/pom.properties
task_003_hadoop-wordcount/my-app/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
task_003_hadoop-wordcount/my-app/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
task_003_hadoop-wordcount/my-app/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
task_003_hadoop-wordcount/org/myorg/hadoop-core-1.2.1.jar
task_003_hadoop-wordcount/org/myorg/WordCount.java
task_003_hadoop-wordcount/target/my-app-1.0-SNAPSHOT.jar
task_003_hadoop-wordcount/target/maven-archiver/pom.properties
task_004_sql-queries/.jaime-answers.md.swp
task_003_hadoop-wordcount/my-app/.classpath
task_003_hadoop-wordcount/my-app/.project
task_003_hadoop-wordcount/my-app/.settings/org.eclipse.core.resources.prefs
task_003_hadoop-wordcount/my-app/.settings/org.eclipse.jdt.apt.core.prefs
task_003_hadoop-wordcount/my-app/.settings/org.eclipse.jdt.core.prefs
task_003_hadoop-wordcount/my-app/.settings/org.eclipse.m2e.core.prefs
bd-plumber.code-workspace
